.container.user-new
  = form_for(resource, as: resource_name,url: user_registration_path, html: { method: :post }) do |f|
    .col-md-8.col-md-offset-2
      %header.row.user-nav.row
        .col-md-12
          %h2 Register
          .user-name_image.row
            .user-name.col-md-10
              = f.text_field :nickname, placeholder: "Username"
            .user-image.col-md-2
              = button_tag "Add image", class: "btn btn-primary"
              = f.file_field :avatar
          = f.email_field :email, class: "user-email", placeholder: "E-Mail"
          = f.password_field :password, class: "user-password", placeholder: "Password"
        .col-md-12
          %h4 Member of
          .user-user-member.row
            .user-name.col-md-12
              = f.text_field :member, placeholder: "Member"
          %h4 Profile
          .user-user-profile.row
            .user-name.col-md-12
              = f.text_area :self_intro, placeholder: "Profile", cols: "30", rows: "4"
          %h4 Works
          .user-name_image.row
            .user-name.col-md-12
              = f.text_area :works, placeholder: "Works", cols: "30", rows: "4"
      .row.text-center.user-btn
        = f.submit "Save", class: "btn btn-lg btn-primary btn-block"
