.col-sm-4.col-md-3.proto-content
  .thumbnail
    = link_to prototype_path(prototype) do
      = image_tag prototype.get_first_image
      .caption
        %h3= prototype.title
        .proto-meta
          .proto-user
            = link_to "by #{prototype.user.nickname}", user_path(prototype.user)
          .proto-posted
            = prototype.created_at.strftime("%b %e")
        %ul.proto-tag-list.list-inline
          - prototype.tags.each do |tag|
            %li
              = link_to tag.name, tag_path(tag.name), class: "btn btn-default"
