.jumbotron
  .container.text-center
    = image_tag("header_logo.png", alt: "PROTO TYPE - SHARE THE PROTOTYPE", height: "73px")

.filter-nav
  .container
    .row
      %ul.nav.nav-pills.col-lg-11
        %li#pop-btn.active{role: "presentation"}
          = link_to "Popular PROTO", popular_index_path, remote: :true
        %li#newest-btn{role: "presentation"}
          = link_to "Newest PROTO", newest_index_path, remote: :true
      %button{type: "button", class: "btn btn-default col-lg-1"} View Tags

.container.proto-list
  .row#prototype-content
    = render @prototypes

.text-center
  %ul.pagination
    = paginate @prototypes
