.container.proto-page
  %header.row.user-nav
    .col-md-6
      .media
        .media-left
          = link_to user_path(@prototype.user) do
            = image_tag(@prototype.user.avatar, class: "media-object", alt: "64x64", height: "64px", width: "64px", data: {src: "holder.js/64x64"}, data: {holder: {rendered: "true"}})
        .media-body
          %h4#top-aligned-media.custom-media-heading
            = @prototype.title
            = link_to "編集", edit_prototype_path(@prototype), class: "edit-btn btn-primary" if user_signed_in? && @prototype.user.id == current_user.id
          .proto-user
            = link_to "by #{@prototype.user.nickname}", user_path(@prototype.user)
            %span.degree= @prototype.user.works

    .col-md-6.text-right#like-btn
      = render partial: "likes/like", locals: { prototype: @prototype, like: @like }
  .row
    .col-md-9
      = image_tag @prototype.images.main.first.image, class: "img-responsive"
    .col-md-3
      %ul.proto-sub-list.list-group
      - @prototype.images.sub.each do |image|
        %li.list-group-item
          = image_tag image.image, class: "img-responsive"
  .row.proto-description
    .col-md-3
      %h4 Catch Copy
      %p= @prototype.catch_copy
    .col-md-6
      %h4 Concept
      %p= @prototype.concept
    .col-md-3
      %h4 Tag List
      %ul.proto-tag-list.list-inline
        %li
          %a{href: "#", class: "btn btn-default"} iPad
        %li
          %a{href: "#", class: "btn btn-default"} wireframe
  .row.proto-comments
    %h4.col-md-12
      Comments
      %span.num= @comments.count #この数字をカッコで囲いたいけど...
    .col-md-8
      - @comments.each do |comment|
        .media
          .media-left
            %a{href: "#"}
              = image_tag(comment.user.avatar, class: "media-object", alt: "64x64", height: "64px", width: "64px", data: {src: "holder.js/64x64"}, data: {holder: {rendered: "true"}})
          .media-body
            %h4#top-aligned-media.media-heading
              = comment.user.nickname
              %a.anchorjs-link{href: "#top-aligned-media"}
                %span.anchorjs-icon
            %p= comment.text

      = form_for(@comment, url: prototype_comments_path(@prototype, @comment), html: { method: :post}, class: "form-inline", role: "form") do |f|
        %h4 Write a comment
        .row
          .form-group.col-md-10
            = f.text_area :text, placeholder: "Your comments", rows: "3", class: "form-control"
          .form-group.col-md-2
            = button_tag "Comment", class: "btn btn-primary", type: "submit"
