.container.user-new
  = form_for(current_user, url: user_path(current_user), html: { method: :patch }) do |f|
    .col-md-8.col-md-offset-2
      %header.row.user-nav.row
        .col-md-12
          %h2 Edit Profile
          .user-name_image.row
            .user-name.col-md-10
              = f.text_field :nickname, placeholder: "Username", value: current_user.nickname
            .user-image.col-md-2{style: 'background-image: url(http://泣ける動画.com/wp-content/uploads/2015/01/t0205-01.jpg);'}
              = button_tag "Change image", class: "btn btn-primary"
              = f.file_field :avatar
          = f.email_field :email, class: "user-email", placeholder: "E-Mail", value: current_user.email
          = f.password_field :password, class: "user-password", placeholder: "Password"
        .col-md-12
          %h4 Member of
          .user-user-member.row
            .user-name.col-md-12
              = f.text_field :member, placeholder: "Member", value: current_user.member
          %h4 Profile
          .user-user-profile.row
            .user-name.col-md-12
              = f.text_area :self_intro, placeholder: "Profile", cols: "30", rows: "4", value: current_user.self_intro
          %h4 Works
          .user-name_image.row
            .user-name.col-md-12
              = f.text_area :works, placeholder: "Works", cols: "30", rows: "4", value: current_user.works
      .row.text-center.user-btn
        = button_tag "Save", class: "btn btn-lg btn-primary btn-block", type: "submit"
