.container.user-page
  %header.user-nav
    .media
      .media-left
        = link_to "#" do
          = image_tag(@user.avatar, class: "media-object", alt: "64x64", height: "64px", width: "64px", data: {src: "holder.js/64x64"}, data: {holder: {rendered: "true"}})
      .media-body
        %h4#top-aligned-media.media-heading
          Top aligned media
          %span.label.label-default.project-number
            = @user.prototypes.length
            %i Projects
        .proto-user
          %span.degree= @user.member
        .row
          .col-md-6
            %h4 Profile
            %p= @user.self_intro
          .col-md-6
            %h4 Works
            %p= @user.works
.container.proto-list
  .row
  - @prototypes.each do |prototype|
    .col-sm-4.col-md-3.proto-content
      .thumbnail
        = link_to prototype_path(prototype) do
          = image_tag prototype.main_image.image
          .caption
            %h3= prototype.title
            .proto-meta
              .proto-date
                = prototype.created_at
            %ul.proto-tag-list.list-inline
              %li
                = link_to "iPad", "#", class: "btn btn-default"
              %li
                = link_to "wireframe", "#", class: "btn btn-default"

.text-center
  %ul.pagination
    = paginate @prototypes
